#youmayalsolike{
    text-align: left;
}

Slider{
    width: 90%;
    border: 3px solid red;
}

.slides>img{
    width: 100%;
    border-radius: 5rem;
    /* margin-left: 1rem; */
}
#maincontainer{
    width: 80%;
    margin: auto;
}