#booksallmaincontainer{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
#booksallmaincontainer>div:nth-child(1){
    border: 1px solid red;
}
#selectbtn{
    width: 30%;
    margin-left: auto;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
select{
    width: 100%;
    padding: 10px 40px;
    border-radius: 0.5rem;
    font-size: 20px;
}
